<div id="particles-js">
  <div class="header">
        <figure class="avatar">
            <img  src="{{ "/assets/img/port.png" | prepend: site.baseurl }}" width="200" height="200" />
        </figure>
        <span style="font-family: ltc-bodoni-175, serif; font-style: normal; font-weight: 400; font-size:26px;" class="site-title">{{site.username}}</span><br>
        <span style="font-family: ltc-bodoni-175, serif; font-style: normal; font-weight: 400; font-size:26px;" class="site-description">{{site.user_title}}</span><br>

      <div class="header-icons">
        <a aria-label="Send email" href="mailto:irfan93@ou.edu"><i class="icon fa fa-envelope"></i></a><br>
        <a aria-label="My Github" target="_blank" href="https://github.com/Irfan93"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
